

/*---Schedule---*/
body {
    background-color: #f8f9fa; /* Màu nền sáng */
}

.filter-section, .schedule-section {
    border-radius: 10px;
}

.schedule-item {
    border: 1px solid #00b98e;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 15px;
}

    .schedule-item .schedule-header {
        font-size: 18px;
        font-weight: bold;
        color: #00b98e;
    }

    .schedule-item .schedule-info {
        color: #6c757d;
    }

    .schedule-item .price {
        font-size: 18px;
        font-weight: bold;
        color: #dc3545;
    }

    .schedule-item .btn-book {
        background-color: #00b98e;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
    }

        .schedule-item .btn-book:hover {
            background-color: #00b98e;
        }

    .schedule-item .warning-note {
        color: #ffc107;
        font-size: 14px;
    }

.schedule-links {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

    .schedule-links a {
        color: #000;
        text-decoration: none;
        margin-right: 10px;
        transition: color 0.2s ease;
    }

        .schedule-links a:hover {
            color: #00b98e;
        }

        .schedule-links a:active {
            color: #dc3545;
        }

.schedule-item .time {
    font-size: 1.5rem;
}

.schedule-item .location {
    font-size: 1rem;
    font-weight: 500;
}

.schedule-item .route-details {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 0.5rem;
}

.trinh {
    position: relative;
    top: -20px;
}

.trinh2 {
    position: relative;
    top: -10px;
    margin-bottom: -10px;
}

.fa-circle-dot {
    color: #0c6921;
}

.fa-location-dot {
    color: #d85112;
}

.fa-circle {
    font-size: 5px;
}
